doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-slate/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='/javascripts/jquery.knob.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content

